<div class="center hero-unit">
  <h1>欢迎来到素材管理后台</h1>
  <p>账号：<%= current_model.email %></p>
  <p>id: <%= current_model.id %></p>
  <h2>
    首页。。。
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

